# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Ignore large model files but keep configs
checkpoints/**/*.ckpt
checkpoints/**/*.pt
checkpoints/**/*.pth
checkpoints/**/*.engine
checkpoints/**/*.onnx
checkpoints/**/*.trt
checkpoints/**/*.plan
checkpoints/**/*_trt/

/output
*.pt
